   :root {
    --podium-cds-typography-body2: 500 1.1rem/1.5 'Helvetica Now Text',Helvetica,Arial,sans-serif;
   }
   
  .top-nav {
    font: var(--podium-cds-typography-body2);
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 44px 20px;
  }

  #product-info { 
    display: flex;
    flex-direction: column;
  }

  #tray-header {
    display: flex;
    justify-content: space-between;
    font-family: "Helvetica Now Text";
    width: 100vw;
  } 

  #tray-header-1 {
    display: flex;
    position: relative;
  }
  
  .active-marketing-component-name {
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    /* position: absolute; */
  }

  .active-marketing-component-index{
    color: rgb(117, 117, 117);
    margin-left: 8px;
  }

  .previous-customization {
    /* -webkit-box-flex: 1;
    flex-grow: 1; */
    /* z-index: 3;
    height: 100%; */
    border: none;
    outline: none;
    cursor: pointer;
    /* position: relative; */
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    text-align: right;
  }

  .next-customization {
    /* -webkit-box-flex: 1;
    flex-grow: 1; */
    /* z-index: 3;
    height: 100%; */
    border: none;
    outline: none;
    cursor: pointer;
    /* position: relative; */
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    text-align: right;
  }



  @media screen and (max-width: 492px) {
    #tray-header-1  {
      padding: 0px;
    }
  }