html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.tray-header {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Now Text";
}

.active-marketing-component-name {
  font-size: 18px;
  font-weight: 500;
}

.animate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animate-wrapper-2 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  mix-blend-mode: normal;
  backdrop-filter: blur(10px);
  /* background: rgba(0, 0, 0, 0.4); */
}

button:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -moz-outline-style: none !important;
}