html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.tray-header {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Now Text";
  position: relative;
}

.active-marketing-component-name {
  font-size: 18px;
  font-weight: 500;
  /* transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateX(0); */
}

/* .slide-out {
  opacity: 0;
  transform: translateX(100%);
}

.slide-in {
  opacity: 0;
  transform: translateX(-100%);
} */

.animate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 52px;  
  width: 100%;
}

.animate-wrapper-2 {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1.5s cubic-bezier(0.4, 0, 1, 1), transform 1.5s cubic-bezier(0.4, 0, 1, 1);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  mix-blend-mode: normal;
  backdrop-filter: blur(10px);
}

.animate-wrapper-2.show {
  opacity: 1;
  transform: translateY(0);
}

.tray-preview-close-button {
  height: 0px;
}

button, input[type=button],input[type=reset],input[type=submit] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  border: none;
  cursor: pointer;
  line-height: inherit;
  overflow: visible;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none
}

button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-style: none
}


button:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -moz-outline-style: none !important;
}

.dgqSKi {
  position: absolute;
  left: 45px;
  top: calc(56%);
  width: 32px;
  height: 32px;
  z-index: 3;
  cursor: pointer;
  fill: #42464b;
} 

.gwevdV {
  position: absolute;
  left: 45px;
  top: calc(56% + 50px);
  width: 32px;
  height: 32px;
  z-index: 3;
  cursor: pointer;
  fill: #42464b;
  
}